<div class="post-header">
    <img class="post-avatar" src="https://i.pravatar.cc/150?u=a042581f4e29026704d" alt="User Avatar">
    <div class="post-user-info">
        <span class="post-user-name">%s</span>
    </div>
    <span class="post-timestamp">%s</span>

    <div class="post-options">
        <button class="options-btn" aria-label="More options">...</button>
        <div class="options-menu">
            <a href="#" class="edit" data-post-id="%s">Edit</a>
            <a href="#" class="delete" data-post-id="%s">Delete</a>
            <a href="#" class="report" data-post-id="%s">Report</a>
        </div>
    </div>
</div>
